@import "flowbite/src/themes/default";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
    background: radial-gradient(grey, black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
position: fixed;
top: 0;
}
footer {
    position: absolute;
    bottom: 0;
} */

/* .red {
    color: red;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 15px;
}
.green {
    color: green;
    background: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 15px;
}
.blue {
    color: blue;
    background: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 15px;
} */
 body {
    padding: 0;
    margin: 0;
 }

.header-menu a {
    color: #707070;
    text-decoration: none;
}
.header-menu {
    display: flex;
    gap: 40px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 12px 40px;
    align-items: center;
    color: #707070;
    font-size: 14px;
}
select {
    border: none;
    border-radius: 30px;
}
.line {
    border-top: 1px solid #E1E1E1;

    margin: 0 40px;
}
.search{
    display: flex;
}
.but_color {
    background-color: #0075B1;
    color: white;
    border-radius: 8px;
}
.inp_sear {
    width: 545px;
}
.title {
    font-size: 72px;
    line-height: 90%;
}
.main-text {
    font-size: 16px;
}
.block_1 {
    padding: 140px 0 140px 40px;
    background-image: url("../../public/img/block1img.svg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.block_2 {
    display: flex;
    gap: 32px;
    background-color: #E1E1E1;
    padding: 20px 105px;
}
.line_vert {
    border-right: 2px solid black;
    margin: 0 10px 0 10px;
}
.tsize-14 {
    font-size: 14px;
    font-weight: 800px;
}
.tsize-12 {
    font-size: 12px;
}
.mini {
    color: #707070;
    font-size: 12px;
    padding-bottom: 10px;
}
.osnov {
    font-size: 18px;
    font-weight: 600;
}
.blue {
color: #0075B1;
font-size: 96px;
}
.but_podrob {
    color: #0075B1;
}
.left {
    width: 610px;
    height: 380px;
    background-color: #F1F1F1;
}
.cent {
    background-color: #F1F1F1;
    height: 380px;
    width: 240px;
}
.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 433px;
}

.up {
    height: 185px;
    background-color: #0075B1;
}
.up img {
    width: 211px;
    height: 128px;
    position: relative;
    top: 58px;
}
.down {
    height: 185px;
    background-color: #F1F1F1;

}
.img_search{
    padding: 8px 8px 8px 40px;
    
    background-image: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.8333 15L8.58333 9.75C8.16667 10.0833 7.6875 10.3472 7.14583 10.5417C6.60417 10.7361 6.02778 10.8333 5.41667 10.8333C3.90278 10.8333 2.62153 10.309 1.57292 9.26042C0.524306 8.21181 0 6.93056 0 5.41667C0 3.90278 0.524306 2.62153 1.57292 1.57292C2.62153 0.524306 3.90278 0 5.41667 0C6.93056 0 8.21181 0.524306 9.26042 1.57292C10.309 2.62153 10.8333 3.90278 10.8333 5.41667C10.8333 6.02778 10.7361 6.60417 10.5417 7.14583C10.3472 7.6875 10.0833 8.16667 9.75 8.58333L15 13.8333L13.8333 15ZM5.41667 9.16667C6.45833 9.16667 7.34375 8.80208 8.07292 8.07292C8.80208 7.34375 9.16667 6.45833 9.16667 5.41667C9.16667 4.375 8.80208 3.48958 8.07292 2.76042C7.34375 2.03125 6.45833 1.66667 5.41667 1.66667C4.375 1.66667 3.48958 2.03125 2.76042 2.76042C2.03125 3.48958 1.66667 4.375 1.66667 5.41667C1.66667 6.45833 2.03125 7.34375 2.76042 8.07292C3.48958 8.80208 4.375 9.16667 5.41667 9.16667Z" fill="%23707070"/></svg>');
    background-repeat: no-repeat;
    background-position: 15px center;
    border: 2px solid #F1F1F1;
}

.card {
    width: 250px;
}